

<!--  navbar-light bg-light -->
<div class="row">
  <div class="col-1"><img src="https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/3b2a8d78255e3192bed3ab5761d7829b.png" height="50px" width="50px"></div>
  <div class="col"><h1>Staff Any</h1></div>
</div> 
<nav class="navbar justify-content-center">
  <a class="navbar-brand col-1 text-center" 
    routerLink="/shift" 
    routerLinkActive="active-link">Shift</a>
  <a class="navbar-brand col-1 text-center" 
    routerLink="/about" 
    routerLinkActive="active-link">About</a>
</nav>


<router-outlet></router-outlet>